.home_slider_background{
    background-image:url(https://cdn.pixabay.com/photo/2013/07/21/13/00/rose-165819_640.jpg)
}
.featured_background{
    background-image:url(https://cdn.pixabay.com/photo/2013/07/21/13/00/rose-165819_640.jpg)
}

.join{
    margin-bottom: 40px;
}
